<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Productos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexPrincipal.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand"><strong>MISCELANEA LOCAL</strong></a>
            </div>
        </nav>
    </header>
    <main id="principal">
        <div class="container">
            <div class="container--text text-white">
                <h1 class="title">CONTROL DE PRODUCTOS</h1>
                <br>
                <p class="text">Aquí tienes el control total sobre tus productos. Puedes agregar nuevos productos,
                    editar la información existente y eliminar productos cuando sea necesario.</p>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <div class="col-md-5 text-center p-4 rounded translucent-section">
                    <h2 class="text-white">Ver Inventario</h2>
                    <p class="text-white">Visualiza todos los productos en tu inventario y verifica sus detalles.</p>
                    <div class="btn-container">
                        <a href="product.html" class="btn btn-secondary">Listado</a>
                    </div>
                </div>
                <div class="col-md-5 text-center p-4 rounded translucent-section">
                    <h2 class="text-white">Registro de Productos</h2>
                    <p class="text-white">Agrega nuevos productos a tu inventario mediante un sencillo formulario.</p>
                    <div class="btn-container">
                        <a href="add.html" class="btn btn-secondary">Registro</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="col-md-5 text-center p-4 rounded translucent-section">
                <h2 class="text-white">Vender</h2>
                <p class="text-white">Venta de un producto.</p>
                <div class="btn-container">
                    <a href="venta.html" class="btn btn-secondary">VENDER</a>
                </div>
            </div>
        </div>
    </main>

    <script src="js/bootstrap.min.js"></script>
</body>

</html>